@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
 
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.wrapper{
    background: #3494E4;
    color: #fff;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
h1{
    padding: 1rem;
    font-size: 2rem;
}
p{
    font-size: 1rem;
    padding-bottom: 1rem;
}
.goal{
    position: relative;
    width: 10rem;
    height: 20rem;
    background: #fff;
    display: flex;
    justify-content: center;
    border: 0.3rem solid #144FC6;
    padding: 1rem;
    margin: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.goal p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #144FC6;
}
.goal span{
    font-weight: bold;
    color: #144FC6;

}
.goal-completed{
    position: absolute;
    background: #6AB3F8;
    color: #144FC6;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 1.7rem;
    border-bottom-left-radius: 1.7rem;
    bottom: 0;
    left: 0;
    width: 100%;
}
.glass-container{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.glass{
    width: 4rem;
    height: 8rem;
    background: rgba(255, 255, 255, 0.9);
    color: #144FC6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0.25rem solid #144FC6;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.4s linear;
}
.glass.active{
    background: #6AB3F8;
    color: #fff;
}
