@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #A164DF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.btn {
    padding: 2rem 4rem;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 1.5rem;
    background: rebeccapurple;
    border-radius: 10px;
    cursor: pointer;
    margin: 1rem;
    border: none;
    outline: none;
}

.btn:hover {
    opacity: 0.9;
}